{% extends "pagina_blog/base.html" %}
{% load static %}

{% block subtitulo %}¿Quien soy?{% endblock subtitulo %}

{% block contenido %}


<div class="container-sm">

    <div class="text-body">
        <p>
        Hola, mi nombre es Fernando Macchia, tengo 49 años, vivo en Colegiales. Soy profesor de golf pero siempre me interesó la programación.<br><br>
        Este es el segundo curso que hago en Coder House, el anterior que hice es Data Analitycs, ahora hice este de Python y próximamente voya empezar el de Data Science.
        Tengo pensado volcarme para el lado de la ciencia de datos por eso este curso de Python creo que es fundamental para mi formación. Me gustó mucho trabajar con Django, 
        no lo conocía y me resultó una herramienta super versatil y poderosa para hacer websites. Me gustaría también seguir este camino.<br><br>
        Les quiero agradecer a los profesores y a los tutores por el gran trabajo que hicieron al frente de este curso. <br><br>
        Espero seguir en contacto y seguir aprendiendo<br><br>
        Muchisimas gracias!!!<br>
        </p>
    </div>

    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="https://twitter.com/fernandomacchia"><i class="bi-twitter fs-2"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/fermacchia73/"><i class="bi-instagram fs-2"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ferandomacchia//"><i class="bi-linkedin fs-2"></i></a></li>
        </ul>
    </div>

</div>





{% endblock contenido %}